.c {
  background-position: center center;
  position: absolute;
  width: 30ch;
  height: 30ch;
  cursor: pointer;
  will-change: transform, opacity;
  background-size: cover;
  white-space: pre-line; 
}

.mastercard {
  background-image: url("/mastercard.jpg");
}

.ikea {
  background-image: url("/ikea.png");
}

.auspost {
  background-image: url("/auspost.png");
}