.App {
  text-align: center;
  background-color: #EC8B5E;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Main {
  text-align: center;
  background-image: url(./logos/cities.jpeg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  position: relative; 
  top: 0; 
  left: 0; 
  height: 100vh;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #EC8B5E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EC8B5E;;
}

.App-link {
  color: #EC8B5E;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
