.c {
  background-position: center center;
  position: absolute;
  width: 30ch;
  height: 30ch;
  cursor: pointer;
  will-change: transform, opacity;
  background-size: cover;
  white-space: pre-line; 
}

.mastercard {
  background-image: url("./logos/mastercard.jpg");
}

.ikea {
  background-image: url("./logos/ikea.png");
}

.auspost {
  background-image: url("./logos/auspost.png");
}